{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('styles/03_user_authentication.css') }}" />

{% endblock %}

{% block body %}

<div class="authentication-parent">


    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
    {% endfor %}


    {{ form_start(resetForm, {
    attr: { class: 'reset-form' }
    }) }}


    <h1>Reset your password</h1>


        {{ form_row(resetForm.newPassword) }}

        {{ form_row(resetForm.confirmPassword) }}


    <button type="submit" class="btn btn-primary">Reset</button>
    {{ form_end(resetForm) }}


</div>


{% endblock %}